* {
    outline: none;
    margin: 0 ;

    padding:0;
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

#topleftblack,#Headerr1c1, #bottomleftblack, #toprightblack, #bottomrightblack,#footerimage,#headerimage{

    background-color: green;
}

.button-icon {

    color:green;
    left: .5rem;
    top: .9rem;
    display: inline-flex
    /* Keep icon in center of input, regardless of the input height */
}





#tabs {


    background-color: white;
    color:blue;
}
#tabs{border:none;
    margin:0px}

header {
    background-color: black;


}
#rollerHeader{

    background-color: green;

}
#address p{font-size :10pt

}

footer {
    background-color: green;
}

#testform0{

    align-items: center;
}
p {
    color: black;
}
.errorText{

    color:red;
}
.errorInput{
    background-color: lightpink;
}
.goodText{
    color:black;
}
.goodInput{
    background-color: black;
    color:lightgreen;
}
.errorBorder{
    background-color: red;
}
#mainform{ padding: 0px}

#left {
    text-align: right;
    padding: 0px
}
.text-left{
    text-align: center;

}

.ui-button {
    text-indent: 5px;
}
form .error {
    color: #ff0000;
    font-style: italic;
}​

     /* The Modal (background) */
 .modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.input-symbol-dollar {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='85px'><text x='2' y='13' fill='gray' font-size='12' font-family='arial'>$</text></svg>");
    padding-left: 12px;
    background-repeat: no-repeat;
}

#tablespace {
    min-height: 600px;
    height : 100%
}

.xbutton {

    border: none;

}

.xbutton {

    border: none;

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width : 200px;
    min-height: 400px;

    float: left;
    padding: 25px;
    margin: 8px;
    position: relative;

}
.receiptCard{
    min-height: 250px;
}
img {
    max-width: 95%;
    max-height: 145px;
    padding: 8px
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
hr {
    height: 6px !important;
    margin: 0;
    padding : 0;
}

.calcButton{
 vertical-align: bottom;
    margin-top: 28px;
}





@media screen and (max-width: 900px){ html,body {min-width:900px} }











